/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 50px;
	font-size: 10%;
	font: inherit;
	vertical-align: baseline;
    margin-top: 5px;
}
/* HTML5 display-role reset for older browsers */
aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font: 16px/28px Georgia, 'Time New Roman',Times,serif;
	background-color: #eee;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0,
	color-stop(.25, rgba(255,255,255, .2)), color-stop(.25,transparent)),
	color-stop(.5, transparent), color-stop(.5, rgba(255,255,255, .2)),
	color-stop(.75 rgba(255.255.255, .2)), color-stop(.75,transparent),to(transparent);
	background-image: -webkit-linear-gradient(45deg, rgba(255,255,255, .2)25%, transparent 25%, transparent 50%, rgba (255,255,255, .2)75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255,255,255, .2) 25%, transparent 25%, transparent 50%, rgba(255,255, 255, .2)50% rgba(255,255,255, .2) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255,255,255, .2) 25%, transparent 25%, transparent 50%, rgba(255,255,255, .2)50%, rgba(255,255,255, .2) 75%, transparent 75%, transparent);
	background-size: 16px 16px;    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header,nav,section{
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 10px;
}
header{
	height: 60px;
	width: 100%;
	float: center;
	overflow: hidden;
}
nav{
	width: 28%;
	float: left;
	overflow: hidden;
    font: 20px georgia;
}
/* Estilo para el contenedor */
.contenedor {
    position: relative;

}
.texto-superpuesto1 a {
    /* Estilos para el enlace */
    position: absolute;
    display: inline-block;
    color: #000000; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    cursor: pointer;
    font-size: 1.6vw; /* Tamaño de fuente relativo al ancho de la ventana */
    top: 73%; /* Coloca el enlace en el centro verticalmente */
    left: 54%; /* Coloca el enlace en el centro horizontalmente */
    transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
    z-index: 3;
    font-family: verdana;
    transition: 300ms; /* Agregamos una transición */
}
.texto-superpuesto1:hover {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr; /* Propiedades del grid al pasar el cursor */
    padding: 2.5px 2.5px; /* Propiedades del botón al pasar el cursor */
    top: 73%;
    left: 54%;
    z-index: 3;
}
.texto-superpuesto2 a {
    /* Estilos para el enlace */
    position: absolute;
    display: inline-block;
    color: #000000; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    cursor: pointer;
    font-size: 1.6vw; /* Tamaño de fuente relativo al ancho de la ventana */
    top: 45%; /* Coloca el enlace en el centro verticalmente */
    left: 85%; /* Coloca el enlace en el centro horizontalmente */
    transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
    z-index: 3;
    font-family: verdana;
    transition: 300ms; /* Agregamos una transición */
}
.texto-superpuesto2:hover {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr; /* Propiedades del grid al pasar el cursor */
    padding: 2.5px 2.5px; /* Propiedades del botón al pasar el cursor */
    top: 45%;
    left: 85%;
    z-index: 3;
}
 /*820,480*/
.texto-superpuesto3 a {
    /* Estilos para el enlace */
    position: absolute;
    display: inline-block;
    color: #000000; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    cursor: pointer;
    font-size: 1.6vw; /* Tamaño de fuente relativo al ancho de la ventana */
    top: 46%; /* Coloca el enlace en el centro verticalmente */
    left: 45%; /* Coloca el enlace en el centro horizontalmente */
    transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
    z-index: 3;
    font-family: verdana;
    transition: 300ms; /* Agregamos una transición */
}
.texto-superpuesto3:hover {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr; /* Propiedades del grid al pasar el cursor */
    padding: 2.5px 2.5px; /* Propiedades del botón al pasar el cursor */
    top: 46%;
    left: 45%;
    z-index: 3;
}
.texto-superpuesto4 a {
    /* Estilos para el enlace */
    position: absolute;
    display: inline-block;
    color: #000000; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    cursor: pointer;
    font-size: 1.6vw; /* Tamaño de fuente relativo al ancho de la ventana */
    top: 91%; /* Coloca el enlace en el centro verticalmente */
    left: 81%; /* Coloca el enlace en el centro horizontalmente */
    transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
    z-index: 3;
    font-family: verdana;
    transition: 300ms; /* Agregamos una transición */
}
.texto-superpuesto4:hover {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr; /* Propiedades del grid al pasar el cursor */
    padding: 2.5px 2.5px; /* Propiedades del botón al pasar el cursor */
    top: 91%;
    left: 81%;
    z-index: 3;
}
.texto-superpuesto5 a {
    /* Estilos para el enlace */
    position: absolute;
    display: inline-block;
    color: #000000; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    cursor: pointer;
    font-size: 1.6vw; /* Tamaño de fuente relativo al ancho de la ventana */
    top: 80%; /* Coloca el enlace en el centro verticalmente */
    left: 19.5%; /* Coloca el enlace en el centro horizontalmente */
    transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
    z-index: 3;
    font-family: verdana;
    
    transition: 300ms; /* Agregamos una transición */
}
.texto-superpuesto5:hover {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr; /* Propiedades del grid al pasar el cursor */
    padding: 2.5px 2.5px; /* Propiedades del botón al pasar el cursor */
    top: 80%;
    left: 19.5%;
    z-index: 3;
}
.image-container {
    position: relative;
    width: 100%; /* El contenedor ocupa el 100% del ancho disponible */
    height: 100vh; /* El 100% de la altura de la ventana gráfica (viewport) */
    z-index: 1;
	overflow: hidden;
}
#mapa {
    position: relative;
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupa el 100% del alto del contenedor */
    left: 0;
    top: 0;
    z-index: 1;
	transition: transform 0.2s;
}
.texto-superpuesto6 {
    /* Estilos para el enlace */
    position: absolute;
	color: #000000; /* Cambia el color del texto del enlace a azul, por ejemplo */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    font-size: 1.6vw; /* Tamaño de fuente del enlace */
	top: 5%;
	left: 26.6%;
	transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
	z-index: 3;
	font-family: verdana;
	white-space: nowrap;
}
.texto-superpuesto7 {
    /* Estilos para el enlace */
    position: absolute;
	color: #000000; /* Cambia el color del texto del enlace a azul, por ejemplo */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    font-size: 1.6vw; /* Tamaño de fuente del enlace */
	top: 36%;
	left: 13%;
	transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
	z-index: 3;
	font-family: verdana;
	white-space: nowrap;	
}
.texto-superpuesto8 {
    /* Estilos para el enlace */
    position: absolute;
	color: #000000; /* Cambia el color del texto del enlace a azul, por ejemplo */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    font-size: 1.6vw; /* Tamaño de fuente del enlace */
	top: 14%;
	left: 70%;
	transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
	z-index: 3;
	font-family: verdana;
	white-space: nowrap;
}
.texto-superpuesto9 {
    /* Estilos para el enlace */
    position: absolute;
	color: #000000; /* Cambia el color del texto del enlace a azul, por ejemplo */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    font-size: 1.6vw; /* Tamaño de fuente del enlace */
	top: 53%;
	left: 82%;
	transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
	z-index: 3;
	font-family: verdana;
	white-space: nowrap;
}
.texto-superpuesto10 {
    /* Estilos para el enlace */
    position: absolute;
	color: #000000; /* Cambia el color del texto del enlace a azul, por ejemplo */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    font-size: 3vw; /* Tamaño de fuente del enlace */
	top: 87%;
	left: 10%;
	transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
	z-index: 3;
	font-family: verdana;
	font-weight: bold;
	white-space: nowrap;
}
.texto-superpuesto11 /*Pagina Principal*/{
    background-color: #3498db;
    color: #7217bd;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0px; 
    left: 5px; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    font-size: 0.6vw;
    white-space: nowrap;
}