.texto-superpuesto1 a /*Modulo1*/{
    /* Estilos para el enlace */
    position: absolute; /* Esto lo que hace es indicar el comportamiento del elemento, en este caso se le indica que tiene posicion absoluta y que no importa si hay otros elementos este no se debe mover/desplazar*/
    display: inline-block; /* sirve para darle un comportamiento especifico al texto, prueba borrarlo para ver la magia*/   
    color: #000000; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    cursor: pointer; /* Hace que cuando se pase el cursor por encima del boton se cambie por la manita del mouse*/
    font-size: 1.6vw; /* Tamaño de fuente relativo al ancho de la ventana, dejarlo asi si no quiere que se vea plana la transicion */
    top: 73%; /* Lo que hace esta linea es determinar que tan abajo poner el elemento, entre mas alto el porcentaje mas abajo se pondra el elemento respecto a la resolucion de pantalla */
    left: 54%; /* Lo que hace esta linea es determinar que tan a la izquierda poner el elemento  */
    transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
    z-index: 3; /*Lo que hace es posicionar este elemento por encima de los demas*/
    font-family: verdana; /* Esta linea lo que hace es determinar el tipo de letra que se mostrara */
    transition: 300ms; /* Agregamos una transición */
}
/* Esta parrafo lo que hace es darle el efecto al texto superpuesto, es lo que hace que baje un poquito cuando se posa el cursos sobre el mismo*/
.texto-superpuesto1:hover {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr; /* Propiedades del grid al pasar el cursor */
    padding: 2.5px 2.5px; /* Propiedades del botón al pasar el cursor */
    top: 73%;
    left: 54%;
    z-index: 3;
}
.texto-superpuesto2 a /*Modulo2*/{
    /* Estilos para el enlace */
    position: absolute; /* Esto lo que hace es indicar el comportamiento del elemento, en este caso se le indica que tiene posicion absoluta mira arriba si quieres algo mas detallado */
    display: inline-block; /* sirve para darle un comportamiento especifico al texto, prueba borrarlo para ver la magia*/   
    color: #000000; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    cursor: pointer; /* Cambia a la manita cuando se pasa el cursor por encima*/
    font-size: 1.6vw; /* Tamaño de fuente relativo al ancho de la ventana */
    top: 45%; /* Coloca el enlace en el centro verticalmente */
    left: 85%; /* Coloca el enlace en el centro horizontalmente */
    transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
    z-index: 3; /* pone el elemento por encima de los elementos, use en todos los botones index 3 para que enredarme y como no se pone uno encima de otro no habia ningun problema*/
    font-family: verdana;
    transition: 300ms; /* Agregamos una transición */
}
/* Esta parrafo lo que hace es darle el efecto al texto superpuesto, es lo que hace que baje un poquito cuando se posa el cursos sobre el mismo*/
.texto-superpuesto2:hover {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr; /* Propiedades del grid al pasar el cursor */
    padding: 2.5px 2.5px; /* Propiedades del botón al pasar el cursor */
    top: 45%; /* Lo que hace es determinar que tan abajo esta el elemento segun el tamaño de la ventana */
    left: 85%; 
    z-index: 3;
}
.texto-superpuesto3 a /*Modulo3*/{
    /* Estilos para el enlace */
    position: absolute;
    display: inline-block; /* sirve para darle un comportamiento especifico al texto, prueba borrarlo para ver la magia*/   
    color: #000000; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    cursor: pointer;
    font-size: 1.6vw; /* Tamaño de fuente relativo al ancho de la ventana */
    top: 46%; /* Coloca el enlace en el centro verticalmente */
    left: 45%; /* Coloca el enlace en el centro horizontalmente */
    transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
    z-index: 3; 
    font-family: verdana;
    transition: 300ms; /* Agregamos una transición */
}
.texto-superpuesto3:hover {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr; /* Propiedades del grid al pasar el cursor */
    padding: 2.5px 2.5px; /* Propiedades del botón al pasar el cursor */
    top: 46%;
    left: 45%;
    z-index: 3;
}
.texto-superpuesto4 a /*Modulo4*/{
    /* Estilos para el enlace */
    position: absolute;
    display: inline-block; /* sirve para darle un comportamiento especifico al texto, prueba borrarlo para ver la magia*/   
    color: #000000; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    cursor: pointer;
    font-size: 1.6vw; /* Tamaño de fuente relativo al ancho de la ventana */
    top: 91%; /* Coloca el enlace en el centro verticalmente */
    left: 81%; /* Coloca el enlace en el centro horizontalmente */
    transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
    z-index: 3;
    font-family: verdana;
    transition: 300ms; /* Agregamos una transición */
}
.texto-superpuesto4:hover {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr; /* Propiedades del grid al pasar el cursor */
    padding: 2.5px 2.5px; /* Propiedades del botón al pasar el cursor */
    top: 91%;
    left: 81%;
    z-index: 3;
}
.texto-superpuesto5 a /*Modulo5*/{
    /* Estilos para el enlace */
    position: absolute;
    display: inline-block; /* sirve para darle un comportamiento especifico al texto, prueba borrarlo para ver la magia*/   
    color: #000000; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    cursor: pointer;
    font-size: 1.6vw; /* Tamaño de fuente relativo al ancho de la ventana */
    top: 80%; /* Coloca el enlace en el centro verticalmente */
    left: 19.5%; /* Coloca el enlace en el centro horizontalmente */
    transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
    z-index: 3;
    font-family: verdana;
    
    transition: 300ms; /* Agregamos una transición */
}
.texto-superpuesto5:hover {
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr; /* Propiedades del grid al pasar el cursor */
    padding: 2.5px 2.5px; /* Propiedades del botón al pasar el cursor */
    top: 80%;
    left: 19.5%;
    z-index: 3;
}
/* Este es el contenedor del plano o sea el background V: */
.image-container {
    position: relative;
    width: 100%; /* El contenedor ocupa el 100% del ancho disponible */
    height: 100vh; /* El 100% de la altura de la ventana gráfica (viewport) */
    z-index: 1; /*esta al se el background lo deje con un index de 1 o sea esta por debajo de todo, ta de base pue pue pue pue pue*/
	overflow: hidden;
}
/* Y este es el parrafo del plano como tal modificas esto y la imagen se vera chiyosa */
#mapa {
    position: relative;
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupa el 100% del alto del contenedor */
    z-index: 1; /*esta al se el background lo deje con un index de 1 o sea esta por debajo de todo, ta de base pue pue pue pue pue*/
	transition: transform 0.2s; /* Este es el tiempo que demora la transicion, esta linea la estaba usando para otra cosa
    al no tener una transicion no es como muy util, de igual manera tu decides que hacer */
}
.texto-superpuesto6 /*Torre de La Oficina*/{
    /* Estilos para el enlace */
    position: absolute;
	color: #000000; /* Cambia el color del texto del enlace a azul, por ejemplo */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    font-size: 1.6vw; /* Tamaño de fuente del enlace */
	top: 5%;
	left: 26.6%;
	transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
	z-index: 3;
	font-family: verdana;
	white-space: nowrap;
}
.texto-superpuesto7 /* Nueva Torre*/{
    /* Estilos para el enlace */
    position: absolute;
	color: #000000; /* Cambia el color del texto del enlace a azul, por ejemplo */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    font-size: 1.6vw; /* Tamaño de fuente del enlace */
	top: 36%;
	left: 13%;
	transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
	z-index: 3;
	font-family: verdana;
	white-space: nowrap;	
}
.texto-superpuesto8 /* Oficina */{
    /* Estilos para el enlace */
    position: absolute;
	color: #000000; /* Cambia el color del texto del enlace a azul, por ejemplo */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    font-size: 1.6vw; /* Tamaño de fuente del enlace */
	top: 14%;
	left: 70%;
	transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
	z-index: 3;
	font-family: verdana;
	white-space: nowrap;
}
.texto-superpuesto9 /* Poste de Energia Interno*/{
    /* Estilos para el enlace */
    position: absolute;
	color: #000000; /* Cambia el color del texto del enlace a azul, por ejemplo */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    font-size: 1.6vw; /* Tamaño de fuente del enlace */
	top: 53%;
	left: 82%;
	transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
	z-index: 3;
	font-family: verdana;
	white-space: nowrap;
}
.texto-superpuesto10 /*San Antonio LAN*/{
    /* Estilos para el enlace */
    position: absolute;
	color: #000000; /* Cambia el color del texto del enlace a azul, por ejemplo */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    font-size: 3vw; /* Tamaño de fuente del enlace */
	top: 87%;
	left: 10%;
	transform: translate(-20%, -50%); /* Centra el enlace exactamente en el centro */
	z-index: 3;
	font-family: verdana;
	font-weight: bold;
	white-space: nowrap;
}
.texto-superpuesto11 /*Pagina Principal*/{
    background-color: #3498db;
    color: #7217bd;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    left: 10px; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
.imagen-link /* Esta es la Imagen del Boton de regreso */{
    width: 1.8vw; /* Ancho deseado en porcentaje para que sea autoajustable a la hora de cambiar el tamaño de la ventana */
    height: 1.8vw; /* Alto deseado en porcentaje para que sea autoajustable a la hora de cambiar el tamano de la ventana */
}