#boton-superpuesto1 /*ATRAS COSATADO CASETA 2 A*/ { 
    background-color: #3498db; /* Este es el color del fondo para el boton compae hay mejores colores, pero bue */
    color: #fff; /* El color de la letra del boton, pones esto en azul y veras que risas */
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */ 
    padding: 0.2% 0.2%; /* El tamaño del boton como tal */
    cursor: pointer; /* Cambia el puntero todo feo en una inmaculada manita todo podesora (Este evento cataclismico solo sucede cuando pasar el cursor sobre el boton) */
    position: absolute;
    font-size: 0.6vw;
    top: 24%; /* Ajusta la posición superior según tus necesidades */
    left: 10%; /* Ajusta la posición izquierda según tus necesidades */
    z-index: 4; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto1:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu1 {
    display: none;
    position: absolute;
    top: 24%;
    left: 19.5%;
    font-size: 0.6vw;
    z-index: 3;
    font-family: verdana;
    white-space: nowrap;
}
#menu1 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto2 /*EXTRACTOR CASETA 2 A*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 27.8%; 
    left: 8.5%; 
    z-index: 5; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto2:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu2 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 27.8%;
    left: 0.4%;
    z-index: 4;
    font-family: verdana;
    white-space: nowrap;
}
#menu2 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto3 /*CASETA A 2 ATRAS*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 31.3%; 
    left: 17.8%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto3:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu3 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 31.3%;
    left: 9.5%;
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu3 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}

#boton-superpuesto4 /*CASETA 2A MEDIO ATRAS*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 31%; 
    left: 34.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto4:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu4 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 31%;
    left: 26.2%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu4 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}

#boton-superpuesto5 /*CASETA 2B MEDIO FRENTE*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 31%; 
    left: 43%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto5:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu5 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 31%;
    left: 52%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu5 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}

#boton-superpuesto6 /*CASETA 2 A FRENTE*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 31%; 
    left: 63.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto6:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu6 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 31%;
    left: 70.2%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu6 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto7 /*FRENTE COSTADO CASETA 2 A*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 24.3%; 
    left: 60%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto7:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu7 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 24.3%;
    left: 52%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu7 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto8 /*CASETA 2 A TANQUE*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 26.3%; 
    left: 70.3%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto8:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu8 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 26.3%;
    left: 77.2%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu8 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto9 /*CASETA B 4*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 53%; 
    left: 18%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto9:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu9 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 53%;
    left: 10%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu9 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto10 /*EXTERIOR CASETA B 2*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 60%; 
    left: 8.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto10:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu10 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 60%;
    left: 0.4%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu10 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto11 /*CASETA B 3*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 65.5%; 
    left: 8.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto11:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu11 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 65.5%;
    left: 18%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu11 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto12 /*CASETA B 2*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 53%; 
    left: 34%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto12:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu12 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 53%;
    left: 25.7%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu12 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto13 /*CASETA B 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 53%; 
    left: 43%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto13:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu13 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 53%;
    left: 51.8%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu13 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto14 /*ENTRADA*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 53%; 
    left: 63.6%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto14:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu14 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 53%;
    left: 70.3%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu14 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto15 /*EXTERIOR CASETA C 3*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 60%; 
    left: 70.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto15:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu15 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 60%;
    left: 77.4%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu15 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto16 /*EXTERIOR CASETA C 2*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 66%; 
    left: 68%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto16:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu16 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 66%;
    left: 78%;
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu16 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto17 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 83%; 
    left: 10%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto17:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu17 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 83%;
    left: 18%;
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu17 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto18 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 72%; 
    left: 14.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto18:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu18 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 72%;
    left: 20.8%;
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu18 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto19 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 72%; 
    left: 37.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto19:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu19 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 72%;
    left: 29.2%;
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu19 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto20 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 83%; 
    left: 44%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto20:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu20 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 83%;
    left: 51.4%;
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu20 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto21 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 40%; 
    left: 80.7%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto21:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu21 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 40%;
    left: 89.3%;
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu21 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#boton-superpuesto22 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.7vw;
    top: 86.5%; 
    left: 81%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
    border: 2px solid black;
    transition: all 0.5s linear; /*Controla la velocidad de transicion de todos los elementos*/
}
#boton-superpuesto22:hover{
    background: forestgreen;
}
/* Estilo para el menú */
#menu22 {
    display: none;
    position: absolute;
    font-size: 0.7vw;
    top: 89%;
    left: 82.5%;
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu22 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
.image-container {
    position: relative;
    width: 100%; /* El contenedor ocupa el 100% del ancho disponible */
    height: 100vh; /* El 100% de la altura de la ventana gráfica (viewport) */
    z-index: 1;
	overflow: hidden;
}

#mapa {
    position: relative;
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupa el 100% del alto del contenedor */
    left: 0;
    top: 0;
    z-index: 1;
	transition: transform 0.2s;
}
.enlace {
    position: absolute; /* Posición absoluta */
    top: 40.8%; /* Cambia la posición superior según tus necesidades */
    left: 74.7%; /* Cambia la posición izquierda según tus necesidades */
    text-decoration: none; /* Elimina el subrayado por defecto de los enlaces */
    color: #34db4a; /* Cambia el color del texto del enlace */
    font-weight: bold; /* Establece el texto en negrita */
    font-size: 0.7vw;
    z-index: 3;
    white-space: nowrap;
}
.texto-superpuesto1 {
    position: absolute;
    top: 45%; /* Ajusta la posición superior según tus necesidades */
    left: 74%; /* Ajusta la posición izquierda según tus necesidades */
    color: #333; /* Color del texto */
    font-size: 0.6vw;
    font-family: verdana;
    z-index: 3;
    white-space: nowrap;
}
.texto-superpuesto2 {
    position: absolute;
    top: 82.5%; /* Ajusta la posición superior según tus necesidades */
    left: 79.8%; /* Ajusta la posición izquierda según tus necesidades */
    padding: 10px; /* Espacio alrededor del texto */
    color: #333; /* Color del texto */
    font-size: 0.7vw;
    font-family: verdana;
    z-index: 3;
    white-space: nowrap;
}
.texto-superpuesto3 /*Pagina Principal*/{
    background-color: #3498db;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 8px; 
    left: 9px; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
.imagen-link {
    width: 1.8vw; /* Ancho deseado en píxeles */
    height: 1.8vw; /* Alto deseado en píxeles */
}
.texto-superpuesto4 /*Pagina Principal*/{
    background-color: #3498db;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 8px; 
    left: 55px; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
.imagen-link {
    width: 1.8vw; /* Ancho deseado en píxeles */
    height: 1.8vw; /* Alto deseado en píxeles */
}
.parrafo-especifico {
    color: black;
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 2vw;
    font-family: Verdana;
    z-index: 3;
}
.visualizacion{
    background: #3498db;
    color: #fff;
    font-size: 0.7vw;
    font-family: Verdana;
    transition: all 0.5s linear;
}
.visualizacion:hover {
    background: orange;
}
.Ubicacion{
    font-size: 0.7vw;
    background: #3498db;
    color: #fff;
    font-family: verdana;
    transition: all 0.5s linear;
}
.Ubicacion:hover{
    background: orange;
    cursor: pointer;
}
