/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 50px;
	font-size: 10%;
	font: inherit;
	vertical-align: baseline;
    margin-top: 5px;
}
/* HTML5 display-role reset for older browsers *
aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font: 16px/28px Georgia, 'Time New Roman',Times,serif;
	background-color: #eee;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0,
	color-stop(.25, rgba(255,255,255, .2)), color-stop(.25,transparent)),
	color-stop(.5, transparent), color-stop(.5, rgba(255,255,255, .2)),
	color-stop(.75 rgba(255.255.255, .2)), color-stop(.75,transparent),to(transparent);
	background-image: -webkit-linear-gradient(45deg, rgba(255,255,255, .2)25%, transparent 25%, transparent 50%, rgba (255,255,255, .2)75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255,255,255, .2) 25%, transparent 25%, transparent 50%, rgba(255,255, 255, .2)50% rgba(255,255,255, .2) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255,255,255, .2) 25%, transparent 25%, transparent 50%, rgba(255,255,255, .2)50%, rgba(255,255,255, .2) 75%, transparent 75%, transparent);
	background-size: 16px 16px;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header,nav,section{
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 10px;
}
header{
	height: 60px;
	width: 100%;
	float: center;
	overflow: hidden;
}
nav{
	width: 28%;
	float: left;
	overflow: hidden;
    font: 20px georgia;
}

/* Estilo para el contenedor */
#boton-superpuesto1 /*EXTERIOR CASETA A 2*/ { 
    background-color: #3498db;
    color: #fff;
    text-decoration: none; /* Quita el subrayado del enlace, si es necesario */
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 24%; /* Ajusta la posición superior según tus necesidades */
    left: 10%; /* Ajusta la posición izquierda según tus necesidades */
    z-index: 4; /* Coloca el botón por encima del contenido */
    font-family: verdana;
}
/* Estilo para el menú */
#menu1 {
    display: none;
    position: absolute;
    top: 24%;
    left: 19.5%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 0.6vw;
    z-index: 3;
    font-family: verdana;
    white-space: nowrap;
}
#menu1 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu1 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto2 /*EXTERIOR CASETA A3*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 27.8%; 
    left: 8.3%; 
    z-index: 5; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu2 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 27.8%;
    left: 16.3%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 4;
    font-family: verdana;
    white-space: nowrap;
}
#menu2 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu2 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto3 /*CASETA A 2*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 31.3%; 
    left: 17.8%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu3 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 31.3%;
    left: 11%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu3 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}

#menu3 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto4 /*ENTRADA PRINCIPAL*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 31%; 
    left: 34.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu4 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 31%;
    left: 27.5%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu4 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}

#menu4 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto5 /*CASETA A 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 31%; 
    left: 43%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu5 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 31%;
    left: 52%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu5 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}

#menu5 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto6 /*EXTERIOR CASETA A 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 31%; 
    left: 63.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu6 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 31%;
    left: 56.5%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu6 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu6 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto7 /*VENTILADORES CASETA AA*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 24.3%; 
    left: 60%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu7 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 24.3%;
    left: 53%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu7 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu7 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto8 /*EXTERIOR CASETA B 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 26.3%; 
    left: 70.3%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu8 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 26.3%;
    left: 77.2%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu8 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu8 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto9 /*CASETA B 4*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 53%; 
    left: 18%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu9 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 53%;
    left: 11%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu9 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu9 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto10 /*EXTERIOR CASETA B 2*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 60%; 
    left: 8.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu10 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 60%;
    left: 1.7%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu10 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu10 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto11 /*CASETA B 3*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 65.5%; 
    left: 8.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu11 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 65.5%;
    left: 18%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu11 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu11 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto12 /*CASETA B 2*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 53%; 
    left: 34%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu12 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 53%;
    left: 27%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu12 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu12 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto13 /*CASETA B 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 53%; 
    left: 43%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu13 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 53%;
    left: 52%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu13 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu13 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto14 /*ENTRADA*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 53%; 
    left: 63.6%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu14 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 53%;
    left: 70.3%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu14 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu14 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto15 /*EXTERIOR CASETA C 3*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 60%; 
    left: 70.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: Verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu15 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 60%;
    left: 77.4%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu15 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu15 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto16 /*EXTERIOR CASETA C 2*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 66%; 
    left: 68%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu16 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 66%;
    left: 78%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: Verdana;
    white-space: nowrap;
}
#menu16 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu16 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto17 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 83%; 
    left: 10%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu17 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 83%;
    left: 18%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu17 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu17 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto18 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 72%; 
    left: 14.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu18 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 72%;
    left: 20.8%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu18 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu18 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto19 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 72%; 
    left: 37.5%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu19 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 72%;
    left: 30.7%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu19 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu19 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto20 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 83%; 
    left: 44%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu20 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 83%;
    left: 51.4%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu20 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu20 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto21 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.6vw;
    top: 40%; 
    left: 80.7%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu21 {
    display: none;
    position: absolute;
    font-size: 0.6vw;
    top: 40%;
    left: 89.3%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu21 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu21 a:hover {
    background-color: #f2f2f2;
}
#boton-superpuesto22 /*CASETA C 1*/ {
    background-color: #3498db;
    color: #fff;
    padding: 0.2% 0.2%;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 0.7vw;
    top: 86.5%; 
    left: 81%; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-family: verdana;
    white-space: nowrap;
}
/* Estilo para el menú */
#menu22 {
    display: none;
    position: absolute;
    font-size: 0.7vw;
    top: 89%;
    left: 82.5%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: verdana;
    white-space: nowrap;
}
#menu22 a {
    display: block;
    padding: 2.5px 2.5px;
    text-decoration: none;
    color: #333;
}
#menu22 a:hover {
    background-color: #f2f2f2;
}
.image-container {
    position: relative;
    width: 100%; /* El contenedor ocupa el 100% del ancho disponible */
    height: 100vh; /* El 100% de la altura de la ventana gráfica (viewport) */
    z-index: 1;
	overflow: hidden;
}

#mapa {
    position: relative;
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupa el 100% del alto del contenedor */
    left: 0;
    top: 0;
    z-index: 1;
	transition: transform 0.2s;
}
.enlace {
    position: absolute; /* Posición absoluta */
    top: 40.8%; /* Cambia la posición superior según tus necesidades */
    left: 74.7%; /* Cambia la posición izquierda según tus necesidades */
    text-decoration: none; /* Elimina el subrayado por defecto de los enlaces */
    color: #34db4a; /* Cambia el color del texto del enlace */
    font-weight: bold; /* Establece el texto en negrita */
    font-size: 0.7vw;
    z-index: 3;
    white-space: nowrap;
}
.texto-superpuesto1 {
    position: absolute;
    top: 45%; /* Ajusta la posición superior según tus necesidades */
    left: 74%; /* Ajusta la posición izquierda según tus necesidades */
    color: #333; /* Color del texto */
    font-size: 0.6vw;
    font-family: verdana;
    z-index: 3;
    white-space: nowrap;
}
.texto-superpuesto2 {
    position: absolute;
    top: 82.5%; /* Ajusta la posición superior según tus necesidades */
    left: 79.8%; /* Ajusta la posición izquierda según tus necesidades */
    padding: 10px; /* Espacio alrededor del texto */
    color: #333; /* Color del texto */
    font-size: 0.7vw;
    font-family: verdana;
    z-index: 3;
    white-space: nowrap;
}
.texto-superpuesto3 /*Pagina Principal*/{
    background-color: #3498db;
    color: #7217bd;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    left: 5px; 
    z-index: 3; /* Coloca el botón por encima del contenido */
    font-size: 0.7vw;
    font-family: verdana;
    white-space: nowrap;
}
.parrafo-especifico {
    color: black;
  -webkit-text-stroke: 3px black;
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 2vw;
    font-family: Verdana;
    z-index: 3;
}